/* reglas
selectores
declaraciones 
propiedades
valores */


/* selector de etiqueta header - section - article - nav */
header{
   background: lightgreen;
   color: red;
   display: flex;
   justify-content: space-between;
   height: 90px;
}

/* selector descendente  */
/* body header div nav ol li a */


/* selector de clase */
/* .link */

/* selector de id  */
/* #portafolio */

/* gris oscuro = #1d252c */
/* gris claro = #626262 */
/* background gris = #1b2127 */
/* celeste = #026fff */


body{
   font-family: 'Source Sans Pro';
   margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6{
   font-family: 'Fjalla One', Times, serif;
   font-weight: normal;
   /* font-style: italic; */
}

h1{
   font-size: 40px;
   line-height: 1.5em;
   letter-spacing: -.2px;
   color: white;
   margin: 0;
   /* margin: top right bottom left; */
   /* margin: 100px 150px 70px 30px; */
   /* text-transform: uppercase; */
   /* text-decoration: none; */
}

strong {
   color: #026fff;
}

.hero{
   height: 300px;
   /* background-color: red; */
   background-image: url('../images/hero.jpg');
   background-size: 500px 300px;
   background-repeat: no-repeat;
   background-position-x: right;
   background-color: #1b2127;
   display: flex;
   align-items: center;

}

.portfolio {
   background-color: #f2f2f2;
}

.project {
   /* border-top: tamaño tipo estilo(color); */
   /* border-top: 10px solid red;
   border-right: 10px solid green;
   border-bottom: 10px solid pink;
   border-left: 10px solid yellow; */
   /* color: blue; */
   /* border-color: red;
   border-width: 15px;
   border-style: solid; */
   border: 1px solid gray;
   border-radius: 10px;
   /* border-top-left-radius: 50px; */
   margin: 10px;
   margin-bottom: 15px;
   padding: 20px;
   background: white;
}

.project-details{
   width: 500px;
}

.project-imageContainer{
   width: 500px;
}

.header {
   background-color: #1b2127;
}
.header nav{
   height: inherit;
}
.header a {
   color: white;
   text-decoration: none;

   display: flex;
   height: inherit;
   align-items: center;
   padding: 0 10px;
}

.header ol {
   display: flex;
   height: inherit;
}
.header ol,ul{
   margin: 0;
   padding: 0;
   list-style: none;
}
.header ol li{
   height: inherit;
   display: flex;
   align-items: center;
}

figure{
   margin: 0;
}

.flexbox{
   display: flex;
   /* flex-wrap: nowrap; */
   flex-wrap: wrap;
   
   /* flex-direction: column; */
   
}
.box{
   width: 50px;
   height: 50px;
   border: 1px solid red;
   margin: 10px;

   flex-shrink: 0;
}

.footer{
   color: white;
   background-color:#1d252c;
   display: flex;
   align-items: center;

}